<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Swissup_Core::swissup">
                    <resource id="Swissup_Easytabs::easytabs" title="Easy Tabs">
                        <resource id="Swissup_Easytabs::easytabs_save" title="Save" sortOrder="10" />
                        <resource id="Swissup_Easytabs::easytabs_delete" title="Delete" sortOrder="20" />
                        <resource id="Swissup_Easytabs::easytabs_status" title="Change Status" sortOrder="30" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Swissup_Core::swissup_config" title="Swissup" sortOrder="297">
                                <resource id="Swissup_Easytabs::Easytabs_config" title="Easytabs" sortOrder="574"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
