<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <swissup_easytabs>
            <product_tabs>
                <enabled>1</enabled>
                <layout>collapsed</layout>
                <multipleCollapsible>0</multipleCollapsible>
                <activeTabs>-1</activeTabs>
            </product_tabs>
        </swissup_easytabs>
        <swissup_amp>
            <whitelist>
                <layout_updates>
                    <swissup_easytabs>Swissup_Easytabs</swissup_easytabs>
                </layout_updates>
                <block_types>
                    <swissup_easytabs>
                        <tabs>
                            <class>Swissup\Easytabs\Block\ProductTabs</class>
                            <template>swissupamp/tabs.phtml</template>
                        </tabs>
                        <tab_template>
                            <class>Swissup\Easytabs\Block\Tab\Template</class>
                        </tab_template>
                        <tab_html>
                            <class>Swissup\Easytabs\Block\Tab\Html</class>
                        </tab_html>
                        <tab_review>
                            <class>Swissup\Easytabs\Block\Tab\Product\Review</class>
                            <template>swissupamp/review.phtml</template>
                        </tab_review>
                        <widget_tabs>
                            <class>Swissup\Easytabs\Block\WidgetTabs</class>
                            <template>swissupamp/tabs.phtml</template>
                        </widget_tabs>
                    </swissup_easytabs>
                </block_types>
            </whitelist>
            <includes>
                <blocks>
                    <swissup_easytabs_product>
                        <class>Swissup\Easytabs\Block\ProductTabs</class>
                         <styles>
                            <product_tabs>Swissup_Easytabs::easytabs.scss</product_tabs>
                        </styles>
                    </swissup_easytabs_product>
                    <swissup_easytabs_widget>
                        <class>Swissup\Easytabs\Block\WidgetTabs</class>
                        <styles>
                            <widget_tabs>Swissup_Easytabs::easytabs.scss</widget_tabs>
                        </styles>
                    </swissup_easytabs_widget>
                </blocks>
            </includes>
        </swissup_amp>
    </default>
</config>
