<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Swissup_Easytabs::easytabs"
            title="Easy Tabs"
            module="Swissup_Easytabs"
            sortOrder="580"
            parent="Swissup_Core::general"
            action="easytabs/index/index"
            resource="Swissup_Easytabs::easytabs"/>
    </menu>
</config>
