<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="swissup_easytabs" type="text" sortOrder="574" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <tab>swissup</tab>
            <label>Easytabs</label>
            <resource>Swissup_Easytabs::Easytabs_config</resource>
            <group id="product_tabs" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product page tabs</label>
                <field id="layout" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Layout</label>
                    <source_model>Swissup\Easytabs\Model\Config\Source\Layout</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
